.countries {
  display: flex;
}

/* Add your own CSS code below */
.countries--first .country--brazil {
  order: 55555;
}
/*.countries--first .country--uganda{
  
  order: 5555;
}*/
.countries--second .country--uganda {
  order: 555;
}
.countries--second .country--brazil {
  order: 55;
}

.countries--third .country--laos {
  order: 5;
}
.countries--third .country--ethiopia {
  order: 55;
}
.countries--third .country--croatia {
  order: 555;
}
.countries--third .country--brazil {
  order: 5555;
}
