/* Add your CSS code below */
a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
.message_time {
  font-size: 0.9rem;
}
.message_time.message_time--old {
  font-size: 0.9rem;
  opacity: 50%;
}
.message--unread {
  border-left: 2px solid blue;
}
.message__content {
  line-height: 2rem;
}

.message:first-child {
  opacity: 0.3;
}
