/* Try different box model properties below */
.site-header__title + p{
    color: white;
    margin-bottom: -1%;
}
.site-footer > p{
   /* .site-footer p{*/
    font-size: 12px;
    text-align: center;
}
/*.message--unread:last-child{
    box-shadow: 4px 4px 0 #dba944 ;
}*/
.message:last-child{
    box-shadow: 4px 4px 0 #dba944 ;
}